@page
@model Adv_Net_Assign2.Pages.GroceryList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroceryListModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryListModel.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryListModel.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryListModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryListModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryListModel.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryListModel.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryListModel.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryListModel.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryListModel.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryListModel.Completed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GroceryListModel.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
